body {
	margin: 0 auto;
	background: #252525;
	color: white;
}

.logo-container {
	width: 660px;
	margin: 10px 10px 20px 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

#logo {
	width: 200px;
	margin-right: 5px;
}

#slogan {
	font-family: 'Share Tech Mono', monospace;
	margin: 0;
	padding: 0;
	
	
}

#dtp {
	width: 1000px;	
}

#mc_embed_signup {
	background:#252525; clear:left; font:14px Helvetica,Arial,sans-serif;
	border: 2px solid white;
	width: 1000px;
}
